<section class="containerForm">
<center>
<h2>Iniciar sesión</h2>
</center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="fielld">
    <%= f.label :email ,value:"Correo electrónico", class:'textsize'%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, value: 'Contraseña', class:'textsize' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, value: 'Recuérdame',  class:'textsize' %>
    </div>
  <% end -%>

  <div class="actions flotarDerecha">
    <%= f.submit "Iniciar sesion", class: 'waves-effect waves-light btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<section>